{% load static %} 
<div class="container pt-3">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-6">
      <h2>Добро пожаловать на мой персональный сайт</h2>
      <p>
        Здесь вы можете больше узнать обо мне
        и моих интересах и увличениях.
        </p>
    </div "text-center">    
    <div class="col-md-6"><img src="{% static 'img/Girl_wine.jpg' %}" class="rounded mx-auto d-block img-fluid" width="300" alt="Header image"></div>       
  </div>   
</div> 
     