{% load static %} 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="row align-items-center justify-content-center">
    <a class="navbar-brand" href="{% url 'products:index' %}">
      <img src="{% static 'img/shopee-logo.png' %}" width="45" height="45" class="d-inline-block align-top" alt="">
      <span style="color:red">Steel</span> shop 
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'users:signup' %}">Регистрация<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
        </li>
      <ul>
      </div>  
    </div>      
  </div>
</nav>  

